@model IEnumerable<Smoelenboek.Models.Teacher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@if (Session["Role"].Equals("Teacher"))
{
    @Html.ActionLink("Nieuwe Leraar", "Create")
}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hobby)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hobby)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })

            @if (Session["Role"].Equals("Student"))
            {
               
            }
            @if (Session["Role"].Equals("Teacher"))
            {
                if (item.FirstMidName == User.Identity.Name)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                    @Html.Raw(" ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }

            }
        </td>
    </tr>
}

</table>
