@model Smoelenboek.Models.SchoolGroup




@{
    ViewBag.Title = "Details";
   
}

<h2>Details</h2>

<div>
    <h4>School Groep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>
       
        <dt>
            Je groep bevat:
        </dt>
@foreach (var item in ViewBag.StudentName)
{

        @(item.GroupName == @Html.DisplayFor(model => model.GroupName))
        {
            <dd>
                @(item.FirstMidName)
                }
                @* Wat de fuck.... hoe fix ik dat ik studenten krijg die bij een groep horen hier. *@
            </dd>
        }
}

</dl>
</div>
<p>
    @Html.ActionLink("Bewerken", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug", "Index")
</p>
