@model IEnumerable<Smoelenboek.Models.SchoolGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Session["Role"].Equals("Teacher"))
{
    @Html.ActionLink("Nieuwe Groep", "Create")
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>Studenten</th>
        <th>Leraren</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @foreach (var student in item.Students)
            {
                @Html.DisplayFor(modelItem => student.FirstMidName)
            @:,
            }
        </td>

        <td>
            @foreach (var teacher in item.Teachers)
            {
                @Html.DisplayFor(modelItem => teacher.FirstMidName)
                @:,
            }
        </td>
        <td>
            @if (Session["Role"].Equals("Student"))
            {
               
            }
            @if (Session["Role"].Equals("Teacher"))
            {
                @Html.ActionLink("Bewerken", "Edit", new { id = item.Id }) 
                @Html.Raw(" ")
                 @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
            }

            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        </td>
               
    </tr>
}

</table>
